In [6]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

One tailed t-test - In a packing plant, a machine packs cartons with jars.

It is supposed that a new machine will pack faster on the average than the machine currently used.

To test that hypothesis, the times it takes each machine to pack ten cartons are recorded.

The results, in seconds, are shown in the tables in the file files_for_lab/machine2.txt.

Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [3]:
machine = pd.read_csv("machine2.txt", sep = " ")

In [4]:
machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [5]:
st.ttest_ind(machine['New_machine'], machine['Old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [ ]:
# We reject the null, meaning that there're statistical significant differences between the packing 
# time of the different machines

Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF

H0 ---> There's no difference in etching rate when changing the power of the plasma beam

H1 ---> There's a difference in the etching rate when using differents powers of plasma beam

Our significance level is 0.05, the standard.

degrees of freedom = n -1, being n the number of independet records, so... 15-1 = 14

In [17]:
data = pd.read_excel('anova_lab_data.xlsx')
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

Part 2
In this section, use the Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [20]:
data['power_count'] = data.groupby('Power ').cumcount() ##is the new index 
etching_r_pivot = data.pivot(index='power_count', columns='Power ', values='Etching Rate')
etching_r_pivot
etching_r_pivot.columns = ['P '+str(x) for x in etching_r_pivot.columns.values]
etching_r_pivot

             P 160 W  P 180 W  P 200 W
power_count
0               5.43     6.24     8.79
1               5.71     6.71     9.20
2               6.22     5.98     7.90
3               6.01     5.66     8.15
4               5.59     6.60     7.55

In [21]:
st.f_oneway(etching_r_pivot['P 160 W'],etching_r_pivot['P 180 W'],etching_r_pivot['P 200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

We reject the null...so, there's a statistical significant difference between the etching rate when using different powers on the plasma beam